header{
    background-color: rgb(31, 31, 31);
    padding: 20px;
}

.cabecalho{
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

header .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .cabecalho nav a{
    color: #fafafa;
    text-decoration: none;
    padding: 5px;
    font-size: 1.2em;
}

.container h1{
    font-size: 3em;
    color: #fafafa;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 550;
    text-transform: uppercase;
}

.container h2{
    font-style: italic;
    font-size: 1.2em;
    color: #fafafa;
    display: flex;
    justify-content: center;

}

.container p{
    color: #fafafa;
    font-size: 4em;
    display: flex;
    justify-content: center;
    margin: 0;
    line-height: 0.5em;
}

.container{
    padding: 9em 0em 9em 0em;
    background: url('../img/bg-intro.jpg');
    width: 100%;
    
}

.sessao1{
    background-color: #f7f7f7;
    padding: 3em;
}

.sessao1 h2{
    padding-bottom: 1.8em;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(20, 20, 20);
}

.fica_no_meio_pfv{
    display: flex;
    justify-content: center;
    text-align: center;
}

.botao{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 15%;
    padding: 0.3em 1.5em;
    border: 0.2em rgb(20, 20, 20);
    border-style: solid;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.botao a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.paragrafo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 1.2em;
    color: rgb(20, 20, 20)
}

.retangulo{
    background-color: rgb(20, 20, 20);
    padding: 0.8em;
    size: 3em;
    color: #f7f7f7;
}

.sessao2{
    background-color: #c9c9c9;
    padding: 6em 17em;
}

.sessao2 h4{
    color: rgb(20, 20, 20);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.bolinhas{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.bolinha{
    width: 5.5em;
    height: 5.5em;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 100%;

}


.paulista .bolinha{
    background-color: rgb(83, 43, 6);
}

.carioca .bolinha{
    background-color: rgb(158, 88, 23);
}

.mineiro .bolinha{
    background-color: rgb(235, 156, 82);
}



.paulista .circulo{
    border: 0.3em rgb(83, 43, 6);
    border-style: solid;
    border-radius: 100%;
    margin-bottom: 0.7em;
}

.carioca .circulo{
    border: 0.3em rgb(158, 88, 23);
    border-style: solid;
    border-radius: 100%;
    margin-bottom: 0.7em;
}

.mineiro .circulo{
    border: 0.3em rgb(235, 156, 82);
    border-style: solid;
    border-radius: 100%;
    margin-bottom: 0.7em;
}